<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/home.css">
</head>
<%- include('./includes/body.ejs') %>
<%- include('./includes/nav.ejs') %>
<div class="container">
    <p class="home__header">Welcome<br>to<br>Halcyon</p>
</div>
<%- include('./includes/foot.ejs') %>